/.svn/
/.tmp/
/.idea/
/node_modules/
/bower_components/
/logs/
/lib/
/deploy/
/modules/
/public/
/instrumented/
/coverage.json
/test/reports/
*.sublime*
npm-debug.log
/client-coverage.json
/.DS_Store
browserify-cache*.json
/.settings/